<div class="header">
    <div class="header_content">
        <div class="header_content_left">
            <img src="src/images/NASA_logo.png"/>
        </div>
        <div class="header_content_right">
            <div class="header_content_right--back row_direction margin_medium_right" ng-if="$ctrl.stateParams.id" ng-click="$ctrl.searchBack()">
                <div class="margin_small_right"><i class="fas fa-long-arrow-alt-left fa-lg"></i></div>
                <div>{{ 'BACK_TO_SEARCH' | translate }}</div>
            </div>
        </div>
    </div>
</div>