@import "styleguide/styleguide"
@import "../scripts/components/components"
.container_content
  @include justify_content (center)
  @include flex_basis(1 0 auto)
  padding-bottom: $pad_large
  background-color: $secondary_light_soft
  &.home_menu
    background-color: transparent

.footer
  width: 100%
  height: 4.688rem
  background-color: $total_white
  padding: $pad-medium
  flex-shrink: 0
  -webkit-flex-shrink: 0
  -ms-flex-shrink: 0
  &_content
    @include flex_direction (row)
    &_left
      @include flex_basis(1 0 auto)
    &_right
      @include flex_basis(0 0 auto)
      img.product_logo
        height: 30px
        opacity: 0.2


